
.bg-pattern{
  background-position: center;
  background: linear-gradient(28deg, #4A6C93 , #edeef0);
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 200px;
  background-color: #edeef0;
  border-radius: 10px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.5)
}

.button-login{
  background-color: #4a76a8;
  border-box: 1px;
  border-color: #4a76a8;
}

.button-login:hover{
  background-color: #e5ebf1;
}

.text-login{
  font-family: 'Montserrat', sans-serif;
}
