{% load static %}

.colors{
  color: #edeef0; /* Серый фон вк */
  color: #4a76a8; /* Навбар вк*/
  color: #ffffff; /* Фон блока */
  color: #224b7a; /* Синий с черным */
  color: #e5ebf1; /* Ковер кнопок */
  color: #2a5885; /* Текст */


}




.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.search-form{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}









/* LEFT BAR */


/* END LEFT BAR */




/* PAGINATION */
.pagination_arrows {
  color: #2b4a4a

}

.pagination_arrows:hover {
  color: #94c0c2
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #94c0c2;
  border-color: #94c0c2;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #69a4a2;
  border-color: #69a4a2;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #69a4a2;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #000;
}


