{% load widget_tweaks %}


<!DOCTYPE html>

<html lang="ru" >
<head>
<title>Добавить common wind parameters | Административный сайт Django</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="popup  app-adm model-commonwindparameters change-form"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Добавить common wind parameters</h1>
        <div id="content-main">



<form action="" method="post" id="commonwindparameters_form" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="0s2rMEmmMsQDokEOA7OBpJaKYag8OlxvjLnRPXe0D8MnH1tv1xHNrjuhZ6sK7AnA">
<div>
<input type="hidden" name="_popup" value="1">
<input type="hidden" name="_to_field" value="id">

{{windForm.as_p}}

<div class="submit-row">

<input type="submit" value="Сохранить" class="default" name="_save">






</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="commonwindparameters"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->




</body>
</html>
