{% load widget_tweaks %}

<script>
function myFunction(form, meteoWindOro) {
  meteoWindOro.meteoPhaseStart = 1;
}
</script>
<!--
{{meteoWindOro.as_p}}
<button type="button" onclick="myFunction(form, meteoWindOro)">Click me to display Date and Time.</button>
-->
<!--
<div class="container-fluid">
  
  <div class="row">
    {{ meteoWindOro.meteoPhaseStart.label_tag }}
    {% render_field meteoWindOro.meteoPhaseStart class+="form-control" %}
  </div>
  <div class="row">
      {{ meteoWindOro.windConst.label_tag }}
      {% render_field meteoWindOro.windConst class+="form-control" %}
  </div>
  <div class="row">
      {{ meteoWindOro.precipitationsRate.label_tag }}
      {% render_field meteoWindOro.precipitationsRate class+="form-control" %}
  </div>
  <div class="row">
      {{ meteoWindOro.precipitationType.label_tag }}
      {% render_field meteoWindOro.precipitationType class+="form-control" %}
  </div>
  <div class="row">
      {{ meteoWindOro.stab.label_tag }}
      {% render_field meteoWindOro.stab class+="form-control" %}
  </div>
  <div class="row">
      {{ meteoWindOro.roughness.label_tag }}
      {% render_field meteoWindOro.roughness class+="form-control" %}
  </div>
-->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ meteoWindOroNew.meteoPhaseStart.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.windConst.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.precipitationsRate.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.precipitationType.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.stab.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.roughness.label_tag }}</th>
      <th scope="col"><i class="fa fa-question" aria-hidden="true"></i></th>
    </tr>
  </thead>
  <tbody>
    
      {% for meteo in meteoWindOroOldList.all %}
      <tr>
        <td>{% render_field meteo.meteoPhaseStart %}</td>
        <td>{% render_field meteo.windConst %}</td>
        <td>{% render_field meteo.precipitationsRate %}</td>
        <td>{% render_field meteo.precipitationType %}</td>
        <td>{% render_field meteo.stab %}</td>
        <td>{% render_field meteo.roughness %}</td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash mr-2"></button></td>
      </tr>
      {% endfor %}
    <tr>
        <td>{% render_field meteoWindOroNew.meteoPhaseStart  class+="form-control" form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.windConst  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.precipitationsRate  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.precipitationType  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.stab  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.roughness  class+="form-control"  form+="WindOroForm"%}</td>
        <td><button type="submit" name="addWindOroPhaseBtn" class="btn btn-primary" form="WindOroForm"><i class="fa fa-plus-square" aria-hidden="true"></button></td>
    </tr>
  </tbody>
</table>
<!--
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
{% for currMeteoPhase in meteoPhaseList %}
  {% if forloop.first %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">currMeteoPhase.meteoPhaseStart.label_tag</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
  {% else %}

  {% endif %}
    
{% endfor %}
</table>

-->

<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Launch demo modal
</button>
-->
<!-- 
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            {{ wind.meteoPhaseStart.label_tag }}
            {% render_field wind.meteoPhaseStart class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.windConst.label_tag }}
              {% render_field wind.windConst class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.precipitationsRate.label_tag }}
              {% render_field wind.precipitationsRate class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.precipitationType.label_tag }}
              {% render_field wind.precipitationType class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.stab.label_tag }}
              {% render_field wind.stab class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.roughness.label_tag }}
              {% render_field wind.roughness class+="form-control" %}
          </div>
          <div class="row">
              {{ wind.windLevels.label_tag }}
              {% render_field wind.windLevels class+="form-control" %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Wind Phase</button>
      </div>
    </div>
  </div>
</div>
-->