{% load widget_tweaks %}

<script>
function myFunction(form, meteoWindOro) {
  meteoWindOro.meteoPhaseStart = 1;
}
</script>

<table class="table" id="windOroPhaseListTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ meteoWindOroNew.meteoPhaseStart.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.windConst.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.precipitationsRate.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.precipitationType.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.stab.label_tag }}</th>
      <th scope="col">{{ meteoWindOroNew.roughness.label_tag }}</th>
      <th scope="col"><i class="fa fa-question" aria-hidden="true"></i></th>
    </tr>
  </thead>
  <tbody>
    
      {% for meteo in meteoWindOroOldList.all %}
      <tr>
        <td>{% render_field meteo.meteoPhaseStart %}</td>
        <td>{% render_field meteo.windConst %}</td>
        <td>{% render_field meteo.precipitationsRate %}</td>
        <td>{% render_field meteo.precipitationType %}</td>
        <td>{% render_field meteo.stab %}</td>
        <td>{% render_field meteo.roughness %}</td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash mr-2"></button></td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
        <td>{% render_field meteoWindOroNew.meteoPhaseStart  class+="form-control" form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.windConst  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.precipitationsRate  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.precipitationType  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.stab  class+="form-control"  form+="WindOroForm"%}</td>
        <td>{% render_field meteoWindOroNew.roughness  class+="form-control"  form+="WindOroForm"%}</td>
        <td>
          <button type="button" id="WindOroFormBtn" class="btn btn-primary" form="WindOroForm" name="addWindOroPhaseBtn"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
        </td>
    </tr>
    </tbody>
</table>