{% load widget_tweaks %}
{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <h2>{% trans "Calculation area parameters" %}:</h2>
  </div>
  <div class="row">
      {{ areaCalcParam.lonMinCalc.label_tag }}
      {{ areaCalcParam.lonMinCalc.errors }}
      {% render_field areaCalcParam.lonMinCalc class+="form-control" oninput="installCalcArea(1)" %}
  </div>
  <div class="row">
    {{ areaCalcParam.lonMaxCalc.label_tag }}
    {{ areaCalcParam.lonMaxCalc.errors }}
    {% render_field areaCalcParam.lonMaxCalc class+="form-control" oninput="installCalcArea(1)" %}
  </div>
  <div class="row">
    {{ areaCalcParam.latMinCalc.label_tag }}
    {{ areaCalcParam.latMinCalc.errors }}
    {% render_field areaCalcParam.latMinCalc class+="form-control" oninput="installCalcArea(1)" %}
  </div>
  <div class="row">
    {{ areaCalcParam.latMaxCalc.label_tag }}
    {{ areaCalcParam.latMaxCalc.errors }}
    {% render_field areaCalcParam.latMaxCalc class+="form-control" oninput="installCalcArea(1)" %}
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <h2>{% trans "Result area parameters" %}:</h2>
  </div>
  <div class="row">
    {{ areaResParam.lonMinRes.label_tag }}
    {{ areaResParam.lonMinRes.errors }}
    {% render_field areaResParam.lonMinRes class+="form-control" oninput="installCalcArea(2)" %}
  </div>
  <div class="row">
    {{ areaResParam.lonMaxRes.label_tag }}
    {{ areaResParam.lonMaxRes.errors }}
    {% render_field areaResParam.lonMaxRes class+="form-control" oninput="installCalcArea(2)" %}
  </div>
  <div class="row">
    {{ areaResParam.latMinRes.label_tag }}
    {{ areaResParam.latMinRes.errors }}
    {% render_field areaResParam.latMinRes class+="form-control" oninput="installCalcArea(2)" %}
  </div>
  <div class="row">
    {{ areaResParam.latMaxRes.label_tag }}
    {{ areaResParam.latMaxRes.errors }}
    {% render_field areaResParam.latMaxRes class+="form-control" oninput="installCalcArea(2)" %}
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    {{ areaResParam.countLonRes.label_tag }}
    {% render_field areaResParam.countLonRes class+="form-control" %}
  </div>
  <div class="row">
    {{ areaResParam.countLatRes.label_tag }}
    {% render_field areaResParam.countLatRes class+="form-control" %}
  </div>
</div>