<script type="text/javascript">
    

</script>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Dose type</th>
      <th scope="col">Integration time</th>
      <th scope="col">Nuclide</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Effective</td>
      <td>10 d</td>
      <td>Sum</td>
      <td><button type="button" onclick="loadResults(0)">Change Content</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>TIC</td>
      <td>10 d</td>
      <td>Sum</td>
      <td><button type="button" onclick="loadResults(1)">Change Content</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Deposition</td>
      <td>10 d</td>
      <td>Cs-137</td>
      <td><button type="button" onclick="loadResults(2)">Change Content</button></td>
    </tr>
  </tbody>
</table>