{% load static %}
<html>
    <head>
        <title>Love bar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page-header">
          <h1><a href="/">Love bar 228</a></h1>
        </div>
        <div>
        </div>
      <form>
        <label for="name">Name</label><br>
        <input name="name"><br><br>
        <button type="submit">
          Start calc
        </button>
      </form>
    </body>
</html>
