{% extends 'adm/admIndex.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<script>
function addReadonlyToAll() {
    var checkBox = document.getElementById("editModeCheckBox");
    if (checkBox.checked == true)
    {
      console.log("True");
      document.getElementById('id_name').setAttribute('readonly', true); 
      document.getElementById('id_comment').setAttribute('readonly', true); 
      document.getElementById('id_meteoPhaseStart').setAttribute('readonly', true);
      document.getElementById('id_windConst').setAttribute('readonly', true);
      document.getElementById('id_precipitationsRate').setAttribute('readonly', true);
      document.getElementById('id_precipitationType').setAttribute('readonly', true);
      document.getElementById('id_stab').setAttribute('readonly', true);
      document.getElementById('id_roughness').setAttribute('readonly', true);
      document.getElementById('id_lon').setAttribute('readonly', true);
      document.getElementById('id_lat').setAttribute('readonly', true);
      document.getElementById('id_lonMin').setAttribute('readonly', true);
      document.getElementById('id_lonMax').setAttribute('readonly', true);
      document.getElementById('id_latMin').setAttribute('readonly', true);
      document.getElementById('id_latMax').setAttribute('readonly', true);
      document.getElementById('id_countLon').setAttribute('readonly', true);
      document.getElementById('id_countLat').setAttribute('readonly', true);
    } 
    else 
    {
      console.log("False");
      document.getElementById('id_name').removeAttribute("readonly"); 
      document.getElementById('id_comment').removeAttribute("readonly"); 
      document.getElementById('id_meteoPhaseStart').removeAttribute("readonly");
      document.getElementById('id_windConst').removeAttribute("readonly");
      document.getElementById('id_precipitationsRate').removeAttribute("readonly");
      document.getElementById('id_precipitationType').removeAttribute("readonly");
      document.getElementById('id_stab').removeAttribute("readonly");
      document.getElementById('id_roughness').removeAttribute("readonly");
      document.getElementById('id_lon').removeAttribute("readonly");
      document.getElementById('id_lat').removeAttribute("readonly");
      document.getElementById('id_lonMin').removeAttribute("readonly");
      document.getElementById('id_lonMax').removeAttribute("readonly");
      document.getElementById('id_latMin').removeAttribute("readonly");
      document.getElementById('id_latMax').removeAttribute("readonly");
      document.getElementById('id_countLon').removeAttribute("readonly");
      document.getElementById('id_countLat').removeAttribute("readonly");
    }
}
</script>




<form id="WindOroForm" data-url="{% url 'calc_edit' pk=pk %}" method="POST" class="post-form" name="WindOroForm">{% csrf_token %}</form>
<form id="FullCalcForm" method="POST" class="post-form" name="allCalcName">{% csrf_token %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Common</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Meteo</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Source</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact2" aria-selected="false">Area</a>
    <a class="nav-item nav-link"  aria-selected="false">Edit mode:<input type="checkbox" data-size="sm" id="editModeCheckBox" onclick="addReadonlyToAll()"></a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
      <div class="col-5">
    {% include 'adm/createCalc/admCommon.html'%}
    </div>
      <div class="col-5">
    <img src="{% static 'adm/gis/default.png' %}"  class="d-inline-block align-top" alt="Gis picture">
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
      <div class="col-5">
    {% include 'adm/createCalc/admMeteo.html' with meteoWindOroOldList=meteoWindOroOldList meteoWindOroNew=meteoWindOroNew%}
    </div>
      <div class="col-5">
    <img src="{% static 'adm/gis/default.png' %}"  class="d-inline-block align-top" alt="Gis picture">
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="row">
      <div class="col-5">
    {% include 'adm/createCalc/admSource.html'%}
    </div>
      <div class="col-5">
    <img src="{% static 'adm/gis/default.png' %}"  class="d-inline-block align-top" alt="Gis picture">
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact2-tab">
    <div class="row">
      <div class="col-5">
    {% include 'adm/createCalc/admArea.html'%}
    </div>
    <div class="col-5">
    <img src="{% static 'adm/gis/default.png' %}"  class="d-inline-block align-top" alt="Gis picture">
    </div>
    </div>
  </div>
</div>
  <button type="submit" class="btn btn-primary" name="save_calc">Save scenario</button>
  <button type="submit" class="btn btn-success" name="start_calc">Start calculation</button>
</form>


{% endblock %}
