{% load i18n %}
<div class="container-fluid">
  <div class="row" style="background-color: #808080">
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Calculation number" %}</p>
    </div>
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Name" %}</p>
    </div>
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Author" %}</p>
    </div>
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Creation date" %}</p>
    </div>
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Comment" %}</p>
    </div>
    <div class="col-2">
      <p class="tabup mb-0 text-center">{% trans "Link to download" %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      {{ post.pk }}
    </div>
    <div class="col-2">
      {{ post.name }}
    </div>
    <div class="col-2">
      {{ post.author }}
    </div>
    <div class="col-2">
      {{ post.created_date }}
    </div>
    <div class="col-2">
      {{ post.comment }}
    </div>
    <div class="col-2">
      <a href="{% url 'calc_download' pk=post.pk%}" >{% trans "download" %}</a>
    </div>
  </div>
</div>
