{% extends 'adm/admIndex.html' %}

{% block content %}
        <h2>Download:</h2>
        <form method="post">
          {% csrf_token %}
          <input type="checkbox" id="InputFile" name="download" value="InputFile">
          <label for="InputFile"> Input file</label><br>
          <input type="checkbox" id="LanduseFile" name="download" value="LanduseFile">
          <label for="LanduseFile"> Landuse file</label><br>
          <input type="checkbox" id="OutputFile" name="download" value="OutputFile">
          <label for="OutputFile"> Output file</label><br><br>
          <input type="submit" value="Submit">
        </form>
{% endblock %}
