{% extends 'adm/admIndex.html' %}
{% load i18n %}
{% load static %}
{% block content %}
        <div class="row">
          <h2>Download:</h2>
        </div>
        <div class="row">
          <a href="{% url 'calc_download' pk=post.pk%}?download=InputFile" style="text-decoration: none; display: block; color: #333;">
            <h3>InputFile</h3>
            <img src="{% static 'adm/labels/download.png' %}" width="36" alt="Download" style="position: relative;">
          </a>
        </div>
        <div class="row">
          <a href="{% url 'calc_download' pk=post.pk%}?download=LanduseFile" style="text-decoration: none; display: block; color: #333;">
            <h3>LanduseFile</h3>
            <img src="{% static 'adm/labels/download.png' %}" width="36" alt="Download" style="position: relative;">
          </a>
        </div>
        <div class="row">
          <a href="{% url 'calc_download' pk=post.pk%}?download=OutputFile" style="text-decoration: none; display: block; color: #333;">
            <h3>OutputFile</h3>
            <img src="{% static 'adm/labels/download.png' %}" width="36" alt="Download" style="position: relative;">
          </a>
        </div>
{% endblock %}
