{% extends 'adm/admIndex.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<section class="download py-4">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">Input file</h6>
            <hr>
            <div class="text-center mb-3">
              <a class="more_info text-muted" data-toggle="collapse" href="#collapseInputFile" aria-expanded="false" aria-controls="collapseExample">
                More...
              </a>
            </div>
            <div class="collapse" id="collapseInputFile">
              <div class="mb-3 text-center">
                Scenario for calculating the consequences of a radiation accident
              </div>
            </div>
            <a href="{% url 'calc_download' pk=post.pk%}?download=InputFile" class="btn btn-block btn-primary text-uppercase">Download</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">Landuse file</h6>
            <hr>
            <div class="text-center mb-3">
              <a class="more_info text-muted" data-toggle="collapse" href="#collapseLandUse" aria-expanded="false" aria-controls="collapseExample">
                More...
              </a>
            </div>
            <div class="collapse" id="collapseLandUse">
              <div class="mb-3 text-center">
                Land use categorization file
              </div>
            </div>
            <a href="{% url 'calc_download' pk=post.pk%}?download=LanduseFile" class="btn btn-block btn-primary text-uppercase">Download</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-price text-center">Output file</h6>
            <hr>
            <div class="text-center mb-3">
              <a class="more_info text-muted" data-toggle="collapse" href="#collapseOutputFile" aria-expanded="false" aria-controls="collapseExample">
                More...
              </a>
            </div>
            <div class="collapse" id="collapseOutputFile">
              <div class="mb-3 text-center">
                Calculation results
              </div>
            </div>
            <a href="{% url 'calc_download' pk=post.pk%}?download=OutputFile" class="btn btn-block btn-primary text-uppercase">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
