{% load static %}
<script>
function myFunction(pk) {
  var ppp = "{% url 'calc_details' pk=123321123321%}";
  var pk123 = ppp.replace("123321123321", pk);
  window.open(pk123);
}
</script>


  <div id="dtBasicExample_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
      <div class="col-3">
  
        <div class="card bg-white pages-shadow-history m-p-for-cards">
          <h5 class="mb-4 ">History</h5>
          <div class="list-group" id="myList" role="tablist">
            {% for post in posts %}
            {% if forloop.first %}
            <a class="pages-wrapper-history pages-active active" ondblclick="myFunction({{post.pk}})" data-toggle="list" href="#home_{{ post.pk }}" role="tab">№{{ post.pk }} {{ post.author }} {{ post.name }}</a>
            {% else %}
            <a class="pages-wrapper-history" ondblclick="myFunction({{post.pk}})" data-toggle="list" href="#home_{{ post.pk }}" role="tab">№{{ post.pk }} {{ post.author }} {{ post.name }}</a>
            {% endif %}

            {% endfor %}
            {% include 'adm/admPagination.html' with pagList=pagList pagNext=pagNext pagPrev=pagPrev currPagId=currPagId%}
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="tab-content card bg-white pages-shadow-history m-p-for-cards">
          <h5 class="mb-4">Calculation Details</h5>
          {% for post in posts %}
            {% if forloop.first %}
              <div class="tab-pane show active" id="home_{{ post.pk }}" role="tabpanel">{% include 'adm/admCalcDetails.html' with post=post %}</div>
            {% else %}
              <div class="tab-pane" id="home_{{ post.pk }}" role="tabpanel">{% include 'adm/admCalcDetails.html' with post=post %}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
