{% load widget_tweaks %}


<nav class="bg-light fixedleftbar">
  <h6 class="nav-link border-bottom btnleftbar mb-1"> Menu:</h6>
  <a class="nav-link border-bottom btnleftbar mb-1" href="{% url 'calc_new' %}"><i class="fa fa-file mr-2"></i>New Calculation</a>
  <a class="nav-link border-bottom btnleftbar mb-1" href="{% url 'calc_rand' %}"><i class="fa fa-random mr-2"></i>Random Calculation</a>
  <a class="nav-link border-bottom btnleftbar mb-1" href="{% url 'calc_rand' %}"><i class="fa fa-trash mr-2"></i>Delete</a>

</nav>
