{% load widget_tweaks %}
{% load i18n %}
<div class="container-fluid">
  <form action="/all/1"  method="get" >
    <div class="column">
        <div class="row">
            <label for="min">
                <a class="text-leftbar" style="margin-bottom: 10px;">{% trans "Min calc number" %}</a>
            </label>
        </div>
        <div class="row">
            {% if minNum %}
                <input type="number" min="1" max="999" name = "min" id="min" class="form-control" value={{minNum}} onchange="this.form.submit()">
            {% else %}
                <input type="number" min="1" max="999" name = "min" id="min" class="form-control" onchange="this.form.submit()">
            {% endif %}
            
        </div>

        <div class="row">
            <label for="max">
                <a class="text-leftbar">{% trans "Max calc number" %}</a>
            </label>
        </div>
        <div class="row">
            {% if maxNum %}
                <input type="number" min="1" max="999" name = "max" id="max" class="form-control" value={{maxNum}} onchange="this.form.submit()">
            {% else %}
                <input type="number" min="1" max="999" name = "max" id="max" class="form-control" onchange="this.form.submit()">
            {% endif %}
        </div>

        <div class="row">
            <input type="submit" value={% trans "Search" %}>
        </div>
    </div>
  </form>
</div>
