{% load widget_tweaks %}

<div class="container-fluid">
  <form action="/all/1"  method="get" >
    <div class="column">
        <div class="row">
            <label for="min">Min calc number</label>
        </div>
        <div class="row">
            {% if minNum %}
                <input type="number" min="1" max="999" name = "min" id="min" class="form-control" value={{minNum}}>
            {% else %}
                <input type="number" min="1" max="999" name = "min" id="min" class="form-control">
            {% endif %}
            
        </div>

        <div class="row">
            <label for="max">Max calc number</label>
        </div>
        <div class="row">
            {% if maxNum %}
                <input type="number" min="1" max="999" name = "max" id="max" class="form-control" value={{maxNum}}>
            {% else %}
                <input type="number" min="1" max="999" name = "max" id="max" class="form-control">
            {% endif %}
        </div>

        <div class="row">
            <input type="submit"value="Search"/>
        </div>
    </div>
  </form>
</div>
