<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    {% for pagIdFor in pagList %}
        {% if forloop.first %}
          {% ifnotequal pagPrev -1 %}
            <li class="page-item"><a class="page-link" href="{% url 'admListPart' pagId=pagPrev %}">Previous</a></li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% endifnotequal%}
        {% endif %}
        <li class="page-item"><a class="page-link" href="{% url 'admListPart' pagId=pagIdFor %}">{{pagIdFor}}</a></li>
        {% if forloop.last %}
          {% ifnotequal pagNext -1 %}
            <li class="page-item"><a class="page-link" href="{% url 'admListPart' pagId=pagNext%}">Next</a></li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
          {% endifnotequal %}
        {% endif %}
    {% endfor %}
    
  </ul>
</nav>
