{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as allLanguages %}

<script>
function changeLink(currFullPath, currLangCode, reqLangCode) {
  
  var reqFullPath = currFullPath.replace(currLangCode, reqLangCode);
  console.log(reqFullPath);
  location.href = reqFullPath;
}
</script>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% trans "Select Lang" %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for language in allLanguages %}
          <a class="dropdown-item" href="#" onclick="changeLink('{{ request.path }}', '{{LANGUAGE_CODE}}', '{{language.code}}');return false;"> {{language.name}}</a>
    {% endfor %}
  </div>
</div>